<?php
    $store_id = $this->getStoreId();

    $pages = $this->getPages();

    if ($pages):
        foreach ($pages as $page):
            if (in_array($store_id, $page['store_id'])):
                $p = $page->getData();

                if ($p['in_header_section_four'] == '1'):
?>
<li>
    <a href="<?=$p['identifier']?>"><?=__($p['title'])?></a>
</li>
<?php
                endif;
            endif;
        endforeach;
    endif;
?>